<div class="section bg-light mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <h3 class="mt-3">Careers</h3>
                <p class="text-muted fs-5">
                    Be a part of EIPL team.
                    If you are a qualified, motivated candidate, we look forward to hearing from you! Please send your
                    resume via e-mail: <strong style="color: rgb(30 30 100 / 73%);"><a href="mailto:info@eiplonline.com"
                            class="text-muted">info@eiplonline.com</a></strong>
                </p>
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <div class="features-img fade-in-image">
                    <img class="img-company" alt="company" src="../../assets/careers.png"/>
                </div>
            </div>
        </div>
    </div>
</div>