<div class="section bg-light mt-1">
    <div class="container">
        <div class="row vertical-content">
            <div class="col-lg-6">
                <div class="content-box">
                    <h3 class="fs-4 mt-4">About Company</h3>
                    <p class="text-muted web-desc m-2">
                        Excel Informatics Pvt. Ltd. Professional managed with wide operations for the last 10 years. One
                        of the system integrator (SI), Multi-Vendor Sales, Services and third party maintenance (TPM).
                        We are also Business Partners for M/s. SPICE NET LIMITED.
                        Excel Informatics Pvt. Ltd. (formerly M/s. Excel Computers) established in June 1996 with two
                        Partners Mr. Amol Bhosale & Mr. Pravin Mulik to provide support for the Computers and
                        peripherals installed by M/s. Spice net Ltd. (formerly M/s. Modi Olivetti Ltd.,) at Pimpri
                        Chinchwad and Ahmednagar region.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
               <div class="features-img features-right text-right mt-3">
                   <img class="img-company" alt="company" src="../../assets/eipl-logo.jpg"/>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-aim mt-2">
  <div class="container">
    <div class="row">
        <div class="col-lg-9 aim-hover">
            <h4>Our Aim</h4>
            <p class="text-muted">
                Market leadership through customer satisfaction, a commitment to excellence and a high growth rate encapsulates the philosophy of our organization. Our emphasis on customer satisfaction is inculcated in every employee. There is a special focus on enhancing employee skills through extensive training programs. Our investments in a highly skilled and motivated manpower contribute towards establishing us as a customer oriented organization continuously striving to bring the finest solutions to the discerning customer.
            </p>
        </div>
    </div>
  </div>
</div>