<footer class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 margin-t-20">
                <h4>Excel Informatics</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>Careers</a>
                        </li>
                        <li>
                            <a>Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <h4>Information</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li>
                            <a>Terms & Conditions</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>Jobs</a>
                        </li>
                        <li>
                            <a>Bookmarks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <h4>Support</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li>
                            <a>Contact</a>
                        </li>
                        <li>
                            <a>Email</a>
                        </li>
                        <li>
                            <a>Careers</a>
                        </li>
                        <li>
                            <a>Disscusion</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <h4>Subscribe</h4>
                <div class="text-muted margin-t-20">
                    <p>
                        In an ideal world this text wouldn’t exist, a client would acknowledge the importance of having
                        web copy before the design starts.
                    </p>
                </div>
                <form class="form subscribe">
                    <input class="form-control" placeholder="Email" type="text" />
                    <a class="submit">
                        <i class="bi bi-send"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="footer-alt">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-left pull-none">
              <p class="copy-rights text-muted">
                2023 © Excel Informatics - Themesbrand
              </p>
            </div>
        </div>
    </div>
</div>
</div>