.footer {
    padding: 30px 0;
    background-color: #272a33;
}
.footer h4{
    color: #ffffff;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}   
.footer-list li a {
    color: #98a0aa;
    padding-top: 8px;
    display: inline-block;
    font-size: 14px;
}
.text-muted p{
    color: #98a0aa;
    padding-top: 8px;
    display: inline-block;
    font-size: 14px;
}
.footer-alt p.copy-rights.text-muted {
    color: #98a0aa !important;
    padding-top: 8px;
    display: inline-block;
    font-size: 14px;
}
.subscribe {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.subscribe input {
    height: 40px;
    background-color: #2e313a !important;
    box-shadow: none !important;
    border: none;
    padding-right: 50px;
    color: #fff !important;
}
.form-control {
    margin-bottom: 20px;
    box-shadow: none !important;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}
.subscribe .submit {
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 20px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    color: #acacac !important;
}
.subscribe *::placeholder {
    color: #98a0aa;
}
.footer-alt {
    padding: 15px 0;
    background-color: #2e313a;
}