.bg-light {
    background-color: #fafbfe!important;
}
.clients-logo {
    margin: 0 0 30px;
    border: 1px solid #dadada;
    min-height: 105px;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    animation: fadeIn 5s;
}
.clients-logo img.img-fluid:nth-child(2){
    background: red;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* Responsive */
@media (max-width: 1024px){
    .text-effect {
        text-align: center;
        padding-top: 20px;
    }
}

