<div class="section bg-light mt-3">
   <div class="container">
    <div class="row">
        <h4 class="fs-3 text-effect">Our Valuable Customers</h4>
        <div class="row all-clients mt-4">
           <div class="col-sm-3 col-6">
             <figure class="clients-logo">
                <a target="_blank" href="https://www.gknpm.com/en/our-businesses/gkn-sinter-metals/">
                    <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/gkn.jpg"/>
                </a>
             </figure>
           </div>
           <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.forbesmarshall.com/India">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/forbesss.jpg"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://in.krohne.com/en">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/krohane.jpg"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.spiraxsarco.com/global/en-IN">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/spirax.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.onlinesbi.sbi/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/sbi.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://bankofindia.co.in/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/boi.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://bankofmaharashtra.in/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/bom.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.sampadabank.com/">
                   <img class="img-fluid" style="height: 90px" alt="gkn-sinter-metals" src="../../assets/sampada.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.saraswatbank.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/saraswat.jpg"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.ucobank.com/Hindi/homehindi.aspx">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/uco.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="        https://en.wikipedia.org/wiki/Vijaya_Bank">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/Vijaya.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="http://dynaleccontrols.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/dynalec.jpg"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.flyjaclogistics.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/flyjac.jpg"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://hindustanpetroleum.com/pages/training">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/hpcl.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="http://iarpune.co.in/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/IOAR.gif"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://jeena.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/jeena.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="http://www.jimcapelectronics.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/jimcap.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.laxmiindustries.net/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/laxmiIndus.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.pudumjee.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/padumjee.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.rajendragroup.com/">
                   <img class="img-fluid" style="height: 90px;" alt="gkn-sinter-metals" src="../../assets/rajendralogo.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.suvarnafrpproducts.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/suvarna.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://www.gbrubberproduct.com/">
                   <img class="img-fluid" style="height: 100px; background-color: rgb(17, 14, 14);" alt="gkn-sinter-metals" src="../../assets/gb-rubber.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://shorehoses.com/">
                   <img class="img-fluid" alt="gkn-sinter-metals" src="../../assets/ShoreRubber.png"/>
               </a>
            </figure>
          </div>
          <div class="col-sm-3 col-6">
            <figure class="clients-logo">
               <a target="_blank" href="https://autosteel-rubber.com/">
                   <img class="img-fluid" style="width: 120px;" alt="gkn-sinter-metals" src="../../assets/ASRI.png"/>
               </a>
            </figure>
          </div>
        </div>
    </div>
   </div>
</div>
