<nav class="navbar navbar-expand-lg" [ngClass]="{'bg-primary-scroll' : true, 'sticky' : isSticky}">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      Excel Informatics
      <!-- <img src="../../assets/eipl-logo.jpg" alt="img"/> -->
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="company">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="section bg-home home-half">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 position-absolute text-white text-center">
        <h1>Welcome to Excel Informatics Pvt. Ltd.</h1>
        <p class="mt-4 home-desc">Professional managed with wide operations for the last 10 years. One of the
          system integrator (SI),
          Multi-Vendor Sales, Services and third party maintenance (TPM).</p>
          <div class="text-center subscribe-form margin-t-30">
             <form>
              <input type="text" placeholder="Email"/>
              <button class="btn btn-custom" type="submit">Subscribe</button>
             </form>
          </div>
      </div>
    </div>
  </div>
</div>