.navbar-brand {
    color: #fff !important;
    font-weight: 700;
    height: auto;
    font-size: 18px;
}

.bg-home {
    background: url('../../assets/headerbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 550px;  
    object-fit: cover;
    width: 100%;
}

.bg-overlay {
    background: linear-gradient(to right, #512DA8, #711e72);
    opacity: 0.9;
    position: absolute;
    min-height: 550px;
    width: 100%;
    left: 0;
    top: 0;
}

.home-half {
    padding-bottom: 150px;
    padding-top: 200px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
}

.home-desc {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.subscribe-form form {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
}

.subscribe-form input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    color: #4c5667 !important;
    border: none;
    outline: none !important;
    padding-right: 180px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
}

.subscribe-form button {
    position: absolute;
    text-transform: uppercase;
    top: 6px;
    right: 8px;
    outline: none !important;
    border-radius: 30px;
    font-size: 16px;
    padding: 9px 30px;
    background-color: #fb3e3e;
    color: white;
}
.sticky {
    padding: 10px;
    background-color: rgb(39, 42, 51) !important;
}

.sticky li.nav-item a,
.navbar li.nav-item a {
    color: #c9b0b0;
}

.sticky li.nav-item a:hover,
.navbar li.nav-item a:hover {
    color: white;
}

/* Responsive css */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
        margin: 0;
    }
    .navbar{
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #272a33 !important;
        box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
    }
    .navbar button.navbar-toggler {
        position: absolute;
        right: 13px;
        top: 14px;
        font-size: 15px;
        background: transparent;
        border: none;
    }
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar button.navbar-toggler {
        display: none;
    }
  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-half {
        padding-bottom: 100px;
        padding-top: 120px;
    }
   
  } 

/* @media (max-width: 1024px) {
    .home-half {
        padding-bottom: 100px;
        padding-top: 120px;
    }
    .container {
        width: 80%;
        margin: 0;
    }
    .navbar{
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #272a33 !important;
        box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
    }
    .navbar button.navbar-toggler {
        position: absolute;
        right: 13px;
        top: 14px;
        font-size: 15px;
        background: transparent;
        border: none;
    }
} */
