<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-4 offset-lg-2 ">
                <h1 class="section-title text-center">Our Services</h1>
                <div class="section-title-border margin-t-20"></div>
                <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">
                    Being an Authorized Dealer, We have a dedicated team who always in the market for getting an inquiries for PCs, 
                    Servers and all types of Networking peripherals. 
                </p>
            </div>
        </div>
        <div class="row margin-t-30">
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-hdd-network text-custom"></i>
                    <h4 class="padding-t-19 fs-5">Network Integration</h4>
                    <p class="padding-t-15 text-muted">Networking solutions based on Products from 3Com,
                        Acton, Molex,Nortel, D-Link, Linksys, etc.
                        which includes sales of the peripherals like Network Switches,
                        Routers and other networking components.</p>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-pc-display-horizontal text-custom"></i>
                    <h4 class="padding-t-19 fs-5">System Integration</h4>
                    <p class="padding-t-15 text-muted">Being an Authorized Dealer, We have a dedicated team who always in the market for getting an enquiries for PCs, 
                        Servers and all types of Networking peripherals. </p>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-microsoft text-custom"></i>
                    <h4 class="padding-t-19 fs-5">Operating System Support</h4>
                    <p class="padding-t-15 text-muted">Microsoft Products such as Windows NT,
                         Windows 2000,Windows 2003 Servers,Novell NetWare,Unix Linux Solutions and other desktop operating systems etc</p>
                </div>
            </div>
        </div>
        <div class="row margin-t-30">
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-person text-custom"></i>
                    <h4 class="padding-t-19 fs-5">Multi Vendor Support</h4>
                    <p class="padding-t-15 text-muted">We have a good expertise on Olivetti Make Passbook Printer repairs and servicing on Component level. 
                        We are maintaining around 200 passbook printers in Banking Sector.</p>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-headset text-custom"></i>
                    <h4 class="padding-t-19 fs-5">Customer Call Logging</h4>
                    <p class="padding-t-15 text-muted">A dedicated Work Controller monitors the incoming customer problem calls and also dynamically allocates these calls to the Engineers and monitors our response to calls on a call-to-call basis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 margin-t-20">
                <div class="services-box text-center hover-effect">
                    <i class="bi bi-person-plus text-custom"></i>
                    <h4 class="padding-t-19 fs-5">User Awareness & Training</h4>
                    <p class="padding-t-15 text-muted">Some users are not aware of the actual problem and are unable to provide 
                        the complete information required while logging a call with our Work Controller. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-light mt-5">
    <div class="container">
        <div class="row vertical-content">
            <div class="col-lg-5">
              <div class="features-box">
                 <h3 class="fs-4 mt-4">Aim/Vission/Mission</h3>
                 <p class="text-muted web-desc">
                    Market leadership through customer satisfaction, 
                    a commitment to excellence and a high growth rate encapsulates the philosophy of our organization.
                     Our emphasis on customer satisfaction is inculcated in every employee.
                      There is a special focus on enhancing employee skills through extensive training programs. Our investments in a highly skilled and motivated manpower contribute towards establishing us as a customer oriented organization continuously striving to bring the finest solutions to the discerning customer.
                 </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="features-img features-right text-right">
               <img class="img-service" src="../../assets/homeservice.png" alt="serviceimg"/>
              </div>
            </div>
        </div>
    </div>
</div>