.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 1.75rem;
    font-weight: 500;
}
.offset-lg-2{
    animation: 1s ease-out 1s 1 slideFromLeft;
    animation-fill-mode: both;
}
.section-title-border{
    width: 50px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fb3e3e;
}
.text-muted {
    color: #a8aeb4 !important;
}
.form-control {
    margin-bottom: 20px;
    box-shadow: none !important;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}
.btn-custom {
    border: 1px solid;
    color: #fff;
    transition: all 0.3s;
    font-size: 14px;
    background-color: #fb3e3e;
    padding: 10px 22px
}
@keyframes slideFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

