<div class="section mt-5">
    <div class="container">
        <div class="row contact-title">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Get In Touch</h1>
                <div class="section-title-border margin-t-20"></div>
                <p class="section-subtitle text-muted text-center font-secondary padding-t-30 mt-3">
                    Let us show you how we can help you with your IT requirements.
                </p>
            </div>
        </div>
        <div class="row contact-form">
            <div class="col-lg-4">
                <div class="mt-4 pt-4">
                    <p class="mt-4">
                        <span class="h5">Office Address:</span>
                        <br />
                        <span class="text-muted d-block mt-2">
                            Excel Informatics Pvt. Ltd.
                            C-2, Suryodaya Complex, Bldg. F.,
                            Survey No. 154/4, Kalbhor Nagar,
                            Chinchwad, Pune - 411019
                            Maharashtra, INDIA
                            Phone: 91+20+27476633, 27454132
                        </span>
                    </p>
                    <p class="mt-4">
                        <span class="h5">Email us:</span>
                        <a href="mailto:info@eiplonline.com" class="text-muted d-block mt-2">info@eiplonline.com</a> 
                        <a href="mailto:excelcom@vsnl.com"  class="text-muted d-block mt-1">excelcom@vsnl.com</a>
                    </p>
                </div>
            </div>
            <!-- <form ngNoForm  action="https://docs.google.com/forms/d/e/1FAIpQLSezN781P84j52jUFqRmlDsDnBmsvi6f5VbeXANqVhbrSmxhAA/viewform" method="post">
                <label for="entry.1600872705">First name:</label><br>   
                <input type="text" name="entry.1600872705" placeholder="fisrtname"><br>
                <label for="entry.355269890">Last name:</label><br>
                <input type="text" name="entry.355269890" placeholder="lastname"><br><br>
                <input type="submit" value="Submit">
              </form>  -->
            <div class="col-lg-8">
                <div class="custom-form mt-4 pt-4">
                    <form [formGroup]="formData">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input formControlName="name" placeholder="Your name*" type="text" class="form-control" name="name" required/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input placeholder="Email*" formControlName="email" class="form-control" type="email" name="email"  required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <input placeholder="Subject*" class="form-control" type="text" name="subject" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input placeholder="Address*" class="form-control" type="text" name="address" required/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-2">
                                    <input placeholder="Phone number*" class="form-control" type="number" name="phonenumber" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <input formControlName="message" placeholder="Your Message..*" type="text" class="form-control" name="message" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <div class="form-group mt-2">
                                    <button type="submit" value="Send Message"
                                        class="submitBnt btn btn-custom" (click)="onSubmit()">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>